@use 'styles/variables' as v;

.main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 64px;
  background-color: v.$color-panel-background;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 v.$space-21;
}

.header-left {
  display: flex;
  align-items: center;
  gap: v.$space-13;
}

.logo {
  width: 32px;
  height: 32px;
}

.title {
  font-weight: bold;
  color: v.$color-primary;
  margin-right: v.$space-21;
}

.nav-links a.active {
  color: v.$color-primary;
  font-weight: bold;
}

.content-wrapper {
  flex: 1;
  padding: v.$space-21;
}
