@use 'styles/variables' as v;
@use '../auth-shared' as auth;

.login-container { @include auth.auth-container; }
.login-card { width: 400px; padding: v.$space-21; }
.login-form { display: flex; flex-direction: column; gap: v.$space-13; margin-top: v.$space-13; }
.full-width { width: 100%; }
.register-link { margin-top: v.$space-13; text-align: right; font-size: 14px; }
.register-link a { color: v.$color-primary; text-decoration: none; margin-left: v.$space-5; font-weight: bold; }
