@use '@angular/material' as mat;
@use 'styles/variables' as v;

@include mat.core();

// Definizione del tema Material
$primary-palette: mat.m2-define-palette(mat.$m2-blue-palette);
$accent-palette: mat.m2-define-palette(mat.$m2-pink-palette);
$warn-palette: mat.m2-define-palette(mat.$m2-red-palette);

$sanitick-theme: mat.m2-define-light-theme((
  color: (
    primary: $primary-palette,
    accent: $accent-palette,
    warn: $warn-palette,
  )
));

// Applica il tema all'intero documento
@include mat.all-component-themes($sanitick-theme);

// Reset base e font
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: v.$color-layout-background;
  color: v.$color-text;
}