@use '@angular/material' as mat;
@use '../styles/variables' as v;

@include mat.core();

$sanitick-primary: mat.define-palette(mat.$blue-palette);
$sanitick-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$sanitick-warn: mat.define-palette(mat.$red-palette);

$sanitick-theme: mat.define-light-theme((
  color: (
    primary: $sanitick-primary,
    accent: $sanitick-accent,
    warn: $sanitick-warn,
  )
));

@include mat.all-component-themes($sanitick-theme);
